.wrapper {
    width: 100%;
    padding: 10rem;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}

header.menu {
    height: 6rem;
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 1.8rem;
    border-top-right-radius: 1.8rem;
}

header.menu img {
    height: 80%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 10rem;
    cursor: pointer;
}

header.menu nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

header.menu nav ul li {
    padding: 0 3rem;
}

header.menu nav ul li:last-child {
    padding-right: 10rem;
}

header.menu nav ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--grey);
}

header.menu nav ul li a:hover {
    color: var(--primary);
}

header.menu nav ul li a.active {
    color: var(--secondary)
}

.main-content {
    height: auto;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 2.7fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}

.grid.main-categories {
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid.last-posts {
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    background-color: var(--primary);
    border-radius: 0.2rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.grid header h1 {
    width: 70%;
}

.grid header h1,
.grid header ul li {
    font-size: 1.6rem;
    color: var(--white);
}

.grid header ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    width: 30%;
}

.grid.main-categories header ul li:first-child,
.grid.main-categories header ul li:nth-child(2) {
    width: 20%;
}

.grid.main-categories header ul li:last-child {
    width: 60%
}

.grid.last-posts header ul li{
    width: 30%
}

.grid .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    max-height: 7rem;
    border: 1px solid var(--header);
    margin-bottom: 0.1rem;
}

.grid .row .left-side {
    display: flex;
    align-items: center;
    width: 70%;
}

.grid .row .left-side .icon {
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: red;
    margin: 0 1rem;
}

.grid .row .left-side .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid .row .left-side .title {
    font-size: 1.6rem;
    color: var(--grey);
    text-decoration: none;
}

.grid .row .left-side .title:hover {
    color: var(--secondary);
}

.grid .row .left-side .info p {
    font-size: 1.2rem;
    color: var(--grey);
}

.grid .row .right-side {
    width: 30%;
}

.grid .row .right-side ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.grid.main-categories .row .right-side ul li:first-child,
.grid.main-categories .row .right-side ul li:nth-child(2) {
    width: 20%;
}

.grid.main-categories  .row .right-side ul li:last-child {
    width: 60%;
}

.grid.last-posts .row .right-side ul li {
    width: 30%;
}

.grid .row .right-side ul .number {
    font-size: 14px;
    color: var(--grey);
}

.grid .row .right-side ul .last-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid .row .right-side ul .last-post a {
    font-size: 14px;
    color: var(--grey);
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}

.grid .row .right-side ul .last-post a:hover {
    color: var(--secondary);
}

.grid .row .right-side ul .last-post p {
    font-size: 12px;
    color: var(--grey);
}

.grid .row .right-side ul .last-post p span {
    font-size: 14px;
    color: var(--primary);
}

.grid .row .right-side ul .last-post span {
    font-size: 12px;
    color: var(--grey);
}

.grid .row .right-side ul .author a {
    font-size: 14px;
    color: var(--grey);
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}

.grid .row .right-side ul .author a:hover {
    color: var(--secondary);
}