.wrapper {
    width: 100%;
    height: 100%;
    padding: 10rem;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}

header.menu {
    height: 6rem;
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 1.8rem;
    border-top-right-radius: 1.8rem;
}

header.menu a {
    height: 100%;
}

header.menu a img {
    height: 80%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 10rem;
    padding-top: 1rem;
    cursor: pointer;
}

header.menu nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

header.menu nav ul li {
    padding: 0 3rem;
    display: inline;
    position: relative;
}

#logout-item,
#profile-item,
#login-item,
#management-item {
    display: none;
}

header.menu nav ul li a i {
    position: absolute;
    font-size: 2rem;
    color: var(--text);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

header.menu nav ul li:last-child {
    padding-right: 10rem;
}

header.menu nav ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--text);
}

header.menu nav ul li:hover a,
header.menu nav ul li:hover a i {
    color: var(--primary);
}

header.menu nav ul li a.active {
    color: var(--secondary)
}

/*Botão dark mode*/
.switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3.4rem;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.6rem;
    width: 2.6rem;
    left: 0.4rem;
    bottom: 0.4rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--primary);
}
  
input:focus + .slider {
    box-shadow: 0 0 0.1rem var(--primary);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(2.6rem);
    -ms-transform: translateX(2.6rem);
    transform: translateX(2.6rem);
}

.slider.round {
    border-radius: 3.4rem;
}

.slider.round:before {
    border-radius: 50%;
}
.font-size-btn{
    width: 3.4rem;
    height: 3.4rem;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
}
.font-size-btn:hover{
    opacity: 0.8;
}
#increase-font-btn{
    margin-left: 0.5rem;
}
.main-content {
    height: auto;
    max-height: 75rem;
    min-width: 100rem;
    background-color: var(--main);
    display: grid;
    padding-top: 1rem;
    padding-bottom: 11rem;
    padding-left: 9rem;
    overflow-y: scroll;
    grid-template-columns: 2.7fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
    box-shadow: 0rem 0.6rem 0.5rem 0.2rem rgba(82, 4, 53, 0.2);
}

#cardscrollbar::-webkit-scrollbar
{
	width: 0px;
	background-color: #F5F5F5;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}

.grid-mgm{
    min-height: 75rem;
}

.grid.main-categories {
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid.last-posts {
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    background-color: var(--grid-header);
    color: var(--text);
    border-radius: 0.2rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.grid header a,
.grid header h1 {
    width: 60%;
    text-decoration: none;
}

.grid header a:hover {
    color: var(--secondary);
}

.grid header a,
.grid header h1,
.grid header ul li {
    font-size: 1.8rem;
    color: var(--text);
}

.grid header ul {
    display: flex;
    align-items: flex-start;
    list-style: none;
    width: 40%;
}

.grid header ul li {
    width: calc(100% / 3);
}

.grid .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    max-height: 7rem;
    border: 0.1rem solid var(--header);
    margin-bottom: 0.1rem;
}

.grid .row .left-side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
}

.grid .row .left-side .icon {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #FFCCEC;
    margin: 0 2rem 0 1rem;
}

.grid .row .left-side .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid .row .left-side .title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
}

.grid .row .left-side .title:hover {
    color: var(--secondary);
}

.grid .row .left-side .info p {
    font-size: 1.2rem;
    color: var(--text);
}

.grid .row .right-side {
    width: 40%;
}

.grid .row .right-side ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}

.grid .row .right-side ul li {
    width: calc(100% / 3);
}

.grid .row .right-side ul .number {
    font-size: 1.4rem;
    color: var(--text);
}

.grid .row .right-side ul .last-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.grid .row .right-side ul .last-post a {
    font-size: 1.4rem;
    color: var(--text);
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}

.grid .row .right-side ul .last-post a:hover {
    color: var(--secondary);
}

.grid .row .right-side ul .last-post p {
    font-size: 1.2rem;
    color: var(--text);
}

.grid .row .right-side ul .last-post p span {
    font-size: 1.4rem;
    color: var(--primary);
}

.grid .row .right-side ul .last-post span {
    font-size: 1.2rem;
    color: var(--text);
}

.grid .row .right-side ul .author a {
    font-size: 1.4rem;
    color: var(--text);
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}

.grid .row .right-side ul .author a:hover {
    color: var(--secondary);
}

.grid .row .right-side ul .actions {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: var(--text);
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: center;
    text-decoration: none;
}

.grid .row .right-side ul .actions a img{
    height: 3rem;
    padding-right: 1rem;
}


/*TRENDING SECTION*/
.trending{
    grid-column: 2/-1;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    position: relative;
}
.trending-heading{
    font-size: 3rem;
    color: var(--primary);
}
.trending__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.2rem;
    transition: all .2s;
}
.trending__item:hover{
    transform: scale(1.1);
}
.trending__item a{
    text-decoration: none;
    font-size: 1.9rem;
    color: var(--text);
    display: inline-block;
    margin-bottom: 0.2rem;
}
.trending__item a:hover{
    color: var(--secondary);
}
.trending__item p{
    color: var(--text);
    font-size: 1.3rem;
}
.trending__item .trending-info{
    color: var(--text);
    font-size: 1.3rem;
}
.trending__item .trending-info{
    color: var(--text);
    font-size: 1.4rem;

}
.trending__item .trending-date{
    color: var(--text);
    font-size: 1.3rem;
}
.trending__item p span{
    color: var(--primary);
    font-size: 1.4rem;
}
.trending__item hr{
    width: 100%;
    margin-top: 0.9rem;
    border-top: #ffa1dc 0.02rem solid;
}

.trending .new-topic-container {
    position: fixed;
    background-color: var(--secondary);
    top: 70rem;
    width: 15rem;
    height: 5rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0rem 0.6rem 0.6rem 0.3rem rgba(82, 4, 53, 0.2);
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
}

.trending .new-topic-container:hover {
    opacity: 0.8;
    box-shadow: 0rem 0.8rem 0.6rem 0.4rem rgba(82, 4, 53, 0.2);
    width: 16rem;
    height: 6rem;
}

.trending .new-topic-container i {
    color: var(--white);
    font-size: 2rem;
    padding-right: 1rem;
}
/*TRENDING SECTION FIM*/

/*PÁGINA CATEGORIAS*/
.grid-categories-page-fix { /*Helper class*/
    width: unset;
    height: 100%;
    padding-right: 9rem;
}

.grid.main-categories.grid-categories-page-fix{
    grid-row: 1/-1 !important;
    grid-column: 1/-1 !important;
}
/*PÁGINA CATEGORIAS FIM*/

/*PÁGINA SOBRE*/
.main-content-about {
    height: auto;
    max-height: 75rem;
    min-width: 100rem;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 11rem;
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
    box-shadow: 0rem 0.6rem 0.5rem 0.2rem rgba(82, 4, 53, 0.2);
}
.about-title{
    font-size: 4rem;
    color: var(--secondary);
    font-weight: 300;
}
.about-subtitle{
    font-size: 1.8rem;
    color: var(--primary);
    font-weight: 500;
}
.about-info-container{
    margin-top: 5rem;
    width: 50%;
    padding: 5rem;
    background-color: var(--primary);
    color: var(--text);
    border-radius: 1rem;
    font-size: 1.7rem;

}
.features{
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 6rem;
    align-items: start;
}
.feature{
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 1.5rem;
    column-gap: 2.5rem;
}
.feature__text{
        font-size: 1.7rem;
        color: var(--text);
}
.feature__icon{
        fill: var(--primary);
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
}
.heading-4{
    font-size: 1.9rem;
    font-weight: 400;
}
.heading-4--dark{
    color: var(--text);
}
/*PÁGINA SOBRE FIM*/

/*category page*/
.category-name{
    grid-column: 1/-1;
    grid-row: 1/2;
    align-self: center;
    font-size: 2.4rem;
    font-weight: 700;
    color: #ffa1dc;
    margin-left: 1rem;
    margin-top: 8rem;
}
.grid-category-page-fix { /*Helper class*/
    width: unset;
    height: 100%;
    padding-right: 9rem;
}

.grid.last-posts.grid-category-page-fix{
    grid-column: 1/-1 !important;
}
/*category page end*/

 .reply-home {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}