/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, button, input, select {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    height: 100%;
    width: 100%;
    min-height: 100vh;
    
    --font-size: 1;
}

.light-theme {
    --primary: #FF53BF;
    --secondary: #DE038E;
    --header: #EDF3F7;
    --grid-header: #edf3f788;
    --text: #777F85;
    --white: #FAFAFA;
    --main: #FAFAFA;
    --input: #FAFAFA;
    --paragraph: #1D2933;
    --reply: #D9E9F2;
    --alert: #FF3838;
}

.dark-theme {
    --primary: #FFA1DC;
    --secondary: #FF53BF;
    --header: #1D2933;
    --grid-header: #1D293388;
    --text: #777F85;
    --white: #FAFAFA;
    --main: #1A2630;
    --input: #1A2630;
    --paragraph: #FAFAFA;
    --reply: #344654;
    --alert: #FF8903;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.card {
    background-color: var(--main);
    box-shadow: 0rem 0.6rem 0.5rem 0.2rem rgba(82, 4, 53, 0.2);
}

.form-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
}

.form {
    width: 40%;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.8rem;
    align-items: center;
}

/* @media screen and (max-width: 1000px) {
    .form {
        width: 70%;
    }
} */

.form.register {
    padding: 3rem 10rem;
}

.form h1 {
    display: none;
}

.form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form img {
    height: 10rem;
    margin-bottom: 3rem;
}

.form h2 {
    font-size: calc(3rem * var(--font-size));
    color: var(--text);
    font-weight: bold;
    margin-bottom: 3rem;
}

.form .input-container {
    position: relative;
    width: 100%;
    display: block;
}

.form .input-container input {
    width: 100%;
    font-size: calc(1.6rem * var(--font-size));
    padding: 0.5rem 3rem 1rem;
    margin: 1rem 0;
    border: none;
    border-bottom: 0.2rem solid var(--text);
    outline: none;
    background-color: var(--input);
    color: var(--text);
}

::-webkit-input-placeholder {
    color: var(--text);
}

::-ms-input-placeholder {
    color: var(--text);
}

::placeholder {
    color: var(--text);
}

input:focus::placeholder {
    color: transparent;
}

.form .input-container input:valid {
    background-color: var(--input);
}

.form .input-container i {
    position: absolute;
    left: 0.1rem;
    top: calc(50% - 1.4rem);
    font-size: calc(2rem * var(--font-size));
    color: var(--primary);
}

.form .input-container i.eye-icon {
    left: calc(100% - 2rem);
    cursor: pointer;
}

.form .input-container input[type="submit"] {
    font-weight: bold;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border: none;
    padding: 1rem;
}

.form .input-container input[type="submit"]:hover {
    opacity: 1;
    background-color: var(--primary);
}

.input-container input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-container input[type="file"] + label {
    font-size: calc(1.6rem * var(--font-size));
    font-weight: 700;
    color: var(--main);
    background-color: var(--primary);
    display: inline-block;
    margin-left: 31px;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
}

.input-container input[type="file"]:focus + label,
.input-container input[type="file"] + label:hover {
    background-color: var(--secondary);
    cursor: pointer;
}


.form a {
    text-decoration: none;
    font-size: calc(1.6rem * var(--font-size));
    display: block;
    margin-top: 0.5rem;
    opacity: 0.9;
    color: var(--text);
    width: auto;
}

.form a#reset-password-link {
    display: none;
}

.form a:hover,
.form a:visited {
    opacity: 1;
    color: var(--text);
}

.path {
    display: flex;
    position: relative;
    margin-bottom: 1rem;
}

.path.categories {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-start;
}

.path.category {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-top: 1rem;
}

.path i {
    font-size: calc(1.5rem * var(--font-size));
    margin-right: 1rem;
    color: var(--text);
}

.path .links {
    padding-top: 0.1rem;
}

.path .links a {
    text-decoration: none;
    color: var(--text);
    font-size: calc(1.5rem * var(--font-size));
}

.path .links a:hover {
    text-decoration: underline;
}

.path .links span {
    color: var(--text);
    font-size: calc(1.5rem * var(--font-size));
    opacity: 0.8;
    padding: 0 0.5rem;
}

.div-message-error {
    display: inline-block;
    visibility: hidden;
}

.div-message-error i {
    font-size: calc(1.4rem * var(--font-size));
    margin-right: 0.5rem;
    color: var(--alert);
}

.div-message-error span {
    font-size: calc(1.5rem * var(--font-size));
    color: var(--alert);
}

.success-message {
    color: green !important;
}

#div-input-group{
    display: flex;
}
#div-input-group-1{
    flex-basis: auto;
    width: 50%;
}
#div-input-group-2{
    flex-basis: auto;
    width: 50%;
}

/* TODO: Fechar modal ao clicar fora */
#backdrop {
    background-color: red;
    position: absolute;
    /* left: 0;
    top: 0;
    right: 0;
    bottom: 0; */
    z-index: 0;
    display: none;
    /* opacity: 0; */
}

.response-modal {
    background-color: var(--primary);
    color: var(--main);
    width: 30rem;
    height: 15rem;
    position: absolute;
    left: 50%;
    top: 20%;
    padding-top: 2.5rem;
    transform: translateX(-50%);
    border-radius: 0.8rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

#response-modal-message {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#response-modal-title {
    font-size: 3rem;
    font-weight: 800;
}

#response-modal-button {
    padding: 1rem 4rem;
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 0 0 0.8rem 0.8rem;
    cursor: pointer;
    background: var(--secondary);
    color: var(--white);
    outline: none;
}

.modal {
    background-color: var(--reply);
    border-radius: 0.8rem;
    width: 50rem;
    height: 50rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    box-shadow: 0rem 0.6rem 0.5rem 0.2rem rgba(49, 49, 58, 0.185);
}

.modal .header {
    background-color: var(--primary);
    border-radius: 0.8rem 0.8rem 0 0;
    height: 5rem;
    width: 100%;
    text-align: center;
    line-height: 5rem;
    font-weight: bold;
    color: var(--main);
    font-size: 2rem;
}

#confirm-modal-message {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#confirm-modal-title {
    font-size: 3rem;
    font-weight: 800;
}

#confirm-modal-button-ok {
    padding: 1rem 4rem;
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 0 0 0rem 0.8rem;
    cursor: pointer;
    background: var(--secondary);
    color: var(--white);
    font-size: 1.5rem;
    outline: none;
    transition: 0.2s ease-in-out;
}

#confirm-modal-button-ok:hover {
    opacity: 0.8;
    font-size: 1.8rem;
    transition: 0.2s ease-in-out;
}

#confirm-modal-button-cancel {
    padding: 1rem 4rem;
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 0 0 0.8rem 0rem;
    cursor: pointer;
    background: var(--secondary);
    color: var(--white);
    font-size: 1.5rem;
    outline: none;
    transition: 0.2s ease-in-out;
}

#confirm-modal-button-cancel:hover {
    opacity: 0.8;
    font-size: 1.8rem;
    transition: 0.2s ease-in-out;
}

.modal-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.confirm-modal {
    background-color: var(--primary);
    color: var(--main);
    width: 30rem;
    height: 15rem;
    position: absolute;
    left: 50%;
    top: 20%;
    padding-top: 2.5rem;
    transform: translateX(-50%);
    border-radius: 0.8rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.user-active {
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem;
    border-radius: 0.8rem;
    background-color: #00E01A;
    color: white;
    font-weight: 700;
    box-shadow: 0rem 0.2rem 0.3rem 0.1rem rgba(49, 49, 58, 0.185);
}

.user-suspended {
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem;
    border-radius: 0.8rem;
    background-color: #FF9114;
    color: white;
    font-weight: 700;
    box-shadow: 0rem 0.2rem 0.3rem 0.1rem rgba(49, 49, 58, 0.185);
}

.user-banned {
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem;
    border-radius: 0.8rem;
    background-color: #FF425B;
    color: white;
    font-weight: 700;
    box-shadow: 0rem 0.2rem 0.3rem 0.1rem rgba(49, 49, 58, 0.185);
}

.modal .user-info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.modal .user-info p {
    font-size: 1.6rem;
    color: var(--paragraph);
    margin: 0.5rem 0;
}

.modal .user-info p:first-child {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.modal .actions {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem;
    width: 100%;
}

.modal .actions .close {
    padding: 1rem;
    background-color: var(--primary);
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    border-radius: 0.5rem;
    right: 2rem;
    position: absolute;
}

.modal .actions .close:hover {
    opacity: 0.8;
}

#gap{
    content: "";
    margin: 0.2rem;
    display: block;
    font-size: 24%;
}

.status-text-active {
    padding: 0.2rem 1.4rem 0.2rem 1.4rem;
    border-radius: 0.8rem;
    background-color: #00E01A;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0rem 0.1rem 0.15rem 0.05rem rgba(49, 49, 58, 0.185);
}

.status-text-suspended {
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    border-radius: 0.8rem;
    background-color: #FF9114;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0rem 0.1rem 0.15rem 0.05rem rgba(49, 49, 58, 0.185);
}

.status-text-banned {
    padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    border-radius: 0.8rem;
    background-color: #FF425B;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0rem 0.1rem 0.15rem 0.05rem rgba(49, 49, 58, 0.185);
}

.loader {
    border: 1.6rem solid var(--main); 
    border-top: 1.6rem solid var(--secondary);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    animation: spin 1s cubic-bezier(0.19, 0.3, 0.4, 0.12) infinite;
    z-index: 10;
    position: absolute;
    top: calc(50% - 6.5rem);
    left: calc(50% - 6rem);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg);}
}