/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; /* 1rem = 10px */
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.light-theme {
    --primary: #FFA1DC;
    --secondary: #FF53BF;
    --header: #EDF3F7;
    --grid-header: #edf3f788;
    --text: #777F85;
    --white: #FAFAFA;
    --main: #FAFAFA;
    --input: #FAFAFA;
    --paragraph: #1D2933;
    --reply: #CADBE6;
}

.dark-theme {
    --primary: #FFA1DC;
    --secondary: #FF53BF;
    --header: #1D2933;
    --grid-header: #1D293388;
    --text: #777F85;
    --white: #FAFAFA;
    --main: #1A2630;
    --input: #1A2630;
    --paragraph: #FAFAFA;
    --reply: #344654;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.card {
    background-color: var(--main);
    box-shadow: 0rem 0.6rem 0.5rem 0.2rem rgba(82, 4, 53, 0.2);
}

.form-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
}

.form {
    width: 40%;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.8rem;
    align-items: center;
}

.form h1 {
    display: none;
}

.form form {
    width: 100%;
}

.form img {
    width: 16rem;
    height: 16rem;
    margin-bottom: 3rem;
}

.form h2 {
    font-size: 3rem;
    color: var(--text);
    font-weight: bold;
    margin-bottom: 3rem;
}

.form .input-container {
    position: relative;
    width: 100%;
}

.form .input-container input {
    width: 100%;
    font-size: 1.6rem;
    padding: 0.5rem 3rem 1rem;
    margin: 1rem 0;
    border: none;
    border-bottom: 0.2rem solid var(--text);
    outline: none;
    background-color: var(--input);
    color: var(--text);
}

::-webkit-input-placeholder {
    color: var(--text);
}

::-ms-input-placeholder {
    color: var(--text);
}

::placeholder {
    color: var(--text);
}

input:focus::placeholder {
    color: transparent;
}

.form .input-container input:valid {
    background-color: var(--input);
}

.form .input-container i {
    position: absolute;
    left: 0.1rem;
    top: calc(50% - 1.4rem);
    font-size: 2rem;
    color: var(--primary);
}

.form .input-container i.eye-icon {
    left: calc(100% - 2rem);
    cursor: pointer;
}

.form .input-container input[type="submit"] {
    font-weight: bold;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border: none;
    padding: 1rem;
}

.form .input-container input[type="submit"]:hover {
    opacity: 1;
    background-color: var(--primary);
}

.form a {
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
    margin-top: 0.5rem;
    opacity: 0.9;
    color: var(--text);
    width: auto;
}

.form a:hover,
.form a:visited {
    opacity: 1;
    color: var(--text);
}

.path {
    display: flex;
    position: relative;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.path.category {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-start;
    margin-left: 1rem;
}

.path i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: var(--text);
}

.path .links {
    padding-top: 0.1rem;
}

.path .links a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.5rem;
}

.path .links a:hover {
    text-decoration: underline;
}

.path .links span {
    color: var(--text);
    font-size: 1.5rem;
    opacity: 0.8;
    padding: 0 0.5rem;
}

.div-message-error {
    display: 'inline-flex';
    visibility: hidden;
}

.div-message-error i {
    font-size: 1.4rem;
    margin-right: 0.5rem;
    color: red;
}

.div-message-error span {
    font-size: 1.3rem;
}