.profile {
    background-color: var(--main);
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 70rem;
    box-shadow: 0rem 0.6rem 0.5rem 0.2rem rgba(82, 4, 53, 0.2);
    position: relative;
}

.profile .form {
    width: 100%;
    padding: 0 10rem 10rem;
    align-items: flex-start;
    padding-top: 10rem;
}

.profile .form form {
    position: relative;
}

.vertical-line {
    position: absolute;
    width: 0.2rem;
    height: calc(100% + 4rem);
    background-color: #F0F0F0;
    top: -4rem;
    right: -10rem;
}

.profile .form h1 {
    font-size: calc(2rem * var(--font-size));
    color: var(--text);
    padding-bottom: 2rem;
}

.profile .forms .form .input-container input:read-only {
    cursor: not-allowed;
}

.profile .forms .form .input-container input:-ms-read-only {
    cursor: not-allowed;
}